
$good-color: rgb(100, 255, 86);
$good-color-dark: rgb(74, 185, 64);

$neutral-color: rgb(103, 134, 255);
$neutral-color-dark: rgb(82, 107, 207);

$bad-color: rgb(255, 67, 67);
$bad-color-dark: rgb(187, 55, 55);