<header>
    <div class="header-content">
        <a class="site-title" href="/">To-Do List</a>
        <a class="logs" href="/logs"><i class="fa fa-print"></i> LOGS</a>
        <a class="add" href="/add"><i class="fa fa-plus"></i> ADD</a>
    </div>
</header>