<main class="add">
    <div class="main-content">
        <form class="add-form" action="/add" method="post">
            <label for="name">Title:</label>
            <input type="text" id="name" name="title">
            <label for="body">Description:</label>
            <textarea rows="5" name="title"></textarea>
            <input type="submit" class="submit" value="SEND">
        </form>
    </div>
</main>