<main class="logs">
    <div class="main-container">
        <div class="log-wrapper">
            <span class="log">
            {{#each log}}
            <span>{{this}}</span>
            {{/each}}
            </span>
        </div>
    </div>
</main>